body {
    background-color: #ffe282;
}

h1 {
    text-align: center;
}

img {
    display: block;
    margin: 0 auto;
    width: 60%;
}

dl {
    width: 60%;
    margin: 0 auto;
    margin-top: 2rem;
    border: 2px solid black;
}

dt {
    padding: 1rem;
    background-color: white;
    font-weight: bold;
}

dd {
    padding: 1rem;
}

p{
    width:80%;
    background-color:white;
    margin: 1rem auto;
    padding:1rem;
    border:2px solid silver;
}
ul{
    width:70%;
    padding:1rem;
    margin:auto;
    border:2px solid silver;
    padding-left:4rem;
}


a{
    display:block;
    margin:auto;
    text-align:center;
    padding:1rem;
}