/* ? This is a question comment */
/* ! This is an alert comment */
/* TODO this is a todo comment */
/* *This is a regular comment */


body{background-color:darkolivegreen;}

h1{
    color:white;
}

ul {
    font-family: 'Courier New', Courier, monospace;
}